<!--The content below is only a placeholder and can be replaced.-->
<div class="inner-container" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">
    <div *ngFor="let item of tooltips" class="col-xs-12 col-md-6 button-column">
        <app-tooltip [id]="item.id" [buttonIdx]="item.id" [text]="item.text" [visible]="item.visible" (keydown.enter)="toggle(e, item.id)" (click)="toggle(e, item.id)"> </app-tooltip>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
